/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" 400;
  color: var(--theme-text-color, #00CC14);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-gradient-cover);
  background-image: var(--page-background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  max-inline-size: 696px;
  max-block-size: 364px;
  margin: auto;
  display: grid;
  grid-template-rows: 245px 1fr;
  margin-top: 102px;
  margin-bottom: 100px;
  background-color: var(--theme-background-color);
  border: 2px solid var(--border-color);
}

.main-title {
  align-self: end;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.decorative-tag{
  font-family: var(--decorative-font), sans-serif;
  font-size: clamp(3.063rem, 1.909rem + 4.923vi, 4.063rem);
  font-weight: var(--decorative-font-weight);
  line-height: 65px;
  text-transform: uppercase;
}

.main-title-header {
  align-self: center;
  text-transform: uppercase;
  font-family: var(--decorative-font), sans-serif;
  font-size: clamp(0.875rem, 0.226rem + 2.769vi, 1.438rem);
  font-weight: var(--decorative-font-weight);
  margin-top: 20px;
}

.theme-menu {
  justify-self: center;
  display: grid;
}

.theme-menu__list {
  justify-self: center;
  align-self: end;
  margin: 25px 0;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: start;
}

.button-common {
  font-family: var(--decorative-font), sans-serif;
  font-size: 14px;
  font-weight: var(--decorative-font-weight);
  border: 2px solid var(--border-color);
  position: relative;
}

.theme-menu__button {
  margin-left: 16px;  
  text-transform: uppercase;
  border: none;
  transition: opacity 0.3s ease;  
}

.theme-menu__button:disabled, .theme-menu__button:hover {
  opacity: 0.6;  
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.main {
  max-inline-size: 700px;
  margin: auto;  
}

.sprint-deck-item {
  margin-top: 50px;
  background-color: var(--theme-background-color);  
}

.card {
  display: grid;
  inline-size: 100%;
  border: 2px solid var(--border-color);
}

.card-title {  
  font-size: 18px;
  font-variation-settings: 'wght' 785;
  line-height: 21.78px;
  padding: 5px 0 5px 10px;
}

.img-wrapper{
  position: relative;
}

.card-image {  
  display: block;
  max-block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  z-index: 0;
  aspect-ratio: 1/1.01;
}

.watermark{
  letter-spacing: -2px;
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  z-index: 1;
  color: var(--theme-text-color);
  opacity: 50%;
  font-family: var(--decorative-font), sans-serif;
  text-shadow: 
    -1px -1px 1px var(--watermark-shadow), 
    1px 1px 1px var(--watermark-shadow),
    -1px 1px 1px var(--watermark-shadow), 
    1px -1px 1px var(--watermark-shadow);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
}

@supports((stroke: 1px var(--watermark-shadow)) or (-webkit-text-stroke: 1px var(--watermark-shadow))) {
  .watermark {
      -webkit-text-stroke: 1px var(--watermark-shadow);
      stroke: 1px var(--watermark-shadow);
      text-shadow: none;
  }
}

.plain-text{
  font-size: 18px;
  font-variation-settings: "wght" 465;
  line-height: 21px;
  font-variation-settings: 'slnt' 0;
}

.card-footer {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
}

.like {
  display: flex;
  justify-self: end;
  align-self: end;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.like-icon {
  color: var(--theme-text-color);
  inline-size: 45px;
  block-size: 31px;
  padding-right: -2px;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--theme-text-color);
  transition: border 0.3s ease;
}

.button {
  transition: box-shadow 0.3s ease;
  line-height: 0.9;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--theme-text-color);
}

.button__text {
  font-family: var(--decorative-font), sans-serif;
  font-size: 14px;
  font-weight: var(--decorative-font-weight);  
}

.button__text, .save-button-icon {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-button {
  margin: 50px auto 100px;
  background-color: var(--theme-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-inline-size: 345px;
  min-block-size: 55px;  
  flex-wrap: nowrap;
}

.save-button-icon {
  inline-size: 21px;
  block-size: 21px;
}

#dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}

.dialog {
  max-inline-size: 353px;
  border: 2px solid var(--border-color);
  color: var(--theme-text-color);
  padding: 25px 30px;
  font-family: var(--decorative-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: var(--decorative-font-weight);
  line-height: 1.5;
  background-color: var(--theme-background-color);
}

.dialog-content {
  display: flex;
  gap: 20px;
}

.dialog-icon {
  block-size: 39px;
  inline-size: 39px;
  flex-shrink: 0;
  align-self: center;
}

.dialog-button {  
  inline-size: 100%;
  text-transform: uppercase;
  margin-top: 30px;
}


@media (width <= 375px) {
  .header {
    grid-template-rows: 205px 1fr;
  }

  .decorative-tag {
    line-height: 0.96;
  }

  .theme-menu__list {
    margin-top: 20px;
    gap: 8px;
    margin-bottom: 20px;
  }

  .save-button {
    flex-direction: column;
    min-block-size: 84px;
    min-inline-size: 306px;
  }

  .save-button-icon {
    block-size: 28px;
    inline-size: 28px;
  }
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-opacity {
  filter: opacity(50%);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-sepia-contrast {
  filter: sepia(80%) contrast(130%);
}

.filter-contrast-brightness-sepia {
  filter: contrast(140%) brightness(120%) sepia(50%);
}