/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.html.theme-dark {
  
}

.theme-light {
  --theme-background-color:#FFFFFF;  
  --background-gradient-color:#FFFFFF;
  --background-gradient-cover:#d3d3d3;
  --background-gradient-smooth-start:#e7e7e7;
  --background-gradient-smooth-end:#1a1a1a;

  --theme-text-color: #000000;
  --border-color:#000000;
}

@media (prefers-color-scheme: light) {
  :root {
    /* backgrounds */
  --theme-background-color:##FFFFFF;  
  --background-gradient-color:##FFFFFF;
  --background-gradient-cover:#d3d3d3;
  --background-gradient-smooth-start:#e7e7e7;
  --background-gradient-smooth-end:#1a1a1a;

  --theme-text-color: #000000;
  --border-color:#000000;
/*   --page-background-gradient: 
  repeating-linear-gradient(to left, transparent 0 2px, 
    var(--background-gradient-color) 2px 4px), 
  repeating-linear-gradient(to bottom, transparent 0 2px,
    var(--background-gradient-color) 2px 4px),
  linear-gradient(to bottom, var(--background-gradient-smooth-start) 0.01%, var(--background-gradient-smooth-end)); */
  }
}